# Игнорировать папку objects
objects/

# Игнорировать папку .vscode
.vscode/

# Игнорировать все объектные файлы и исполняемые файлы
*.o
*.out

# Игнорировать временные файлы и резервные копии
*~
*.bak
*.swp

# Игнорировать файлы логов
*.log

# Игнорировать файлы сгенерированных ресурсов
*.res

# Игнорировать папку build (если используется)
build/

# Игнорировать папку bin (если используется)
bin/

# Игнорировать папку .vs (Visual Studio)
.vs/

# Игнорировать файлы и папки, создаваемые Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Игнорировать папку cmake-build-debug (если используется CMake)
cmake-build-debug/

# Игнорировать файлы и папки, создаваемые CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Игнорировать файлы и папки, создаваемые линтерами и отладчиками
*.code-workspace
*.vscode/

# Игнорировать файлы и папки, создаваемые системой контроля версий
.git/

# Игнорировать PDB-файлы
*.pdb

# Игнорировать другие файлы, связанные с отладкой
*.idb
*.ilk
*.obj
*.ncb
*.suo
*.user
*.userosscache
*.sln.docstates